
.mermaid svg {
  /* max-width: 80% !important; */
  font-size: 10px !important;
  text-shadow: none !important;
}

.mermaid .edgeLabel .label rect {
  fill: transparent !important;
  padding: 3px 8px !important;
  border: solid 1px gray;
}

.cob-app .mermaid,
.cob-app .mermaid span {
  text-shadow: none !important;
}

/* .mermaid {
  transform-origin: top left;
  transform: translateZ(-1px) scale(1.2);
} */