
.mermaid svg {
  /* max-width: 80% !important; */
  margin:auto;
  font-size: 10px !important;
  text-shadow: none !important;
}

.mermaid .edgeLabel .label rect {
  fill: transparent !important;
  padding: 3px 8px !important;
  border: solid 1px gray;
}

.cob-app .mermaid,
.cob-app .mermaid span {
  text-shadow: none !important;
}

/* .mermaid {
  transform-origin: top left;
  transform: translateZ(-1px) scale(1.2);
} */

div[class^='js-task-list'] {
  /* xs */ @container (min-width: 512px)  { grid-template-columns: repeat(1, minmax(0, 1fr));  }
  /* sm */ @container (min-width: 640px)  { grid-template-columns: repeat(2, minmax(0, 1fr));  }
  /* md */ @container (min-width: 800px)  { grid-template-columns: repeat(3, minmax(0, 1fr));  }
  /* lg */ @container (min-width: 1024px) { grid-template-columns: repeat(4, minmax(0, 1fr)); }
}

.bpo-def-modal .info-dialog-body {
  max-height: 600px !important;
}

.bpo-def-modal  {
  width: 50% !important;
  transform: translate(-25%, -50%);
}

#mermaid .custom-mermaid-block.node rect {
  fill: unset
}

#mermaid .custom-mermaid-block.node span {
  color: unset
}

.btn.js-fancy-task {
  height: unset !important
}
.bpo-task-box .btn.js-fancy-task span.wq-name {
  display: none;
}